body {
  background-color: hsl(233, 47%, 7%);
  padding: 0 20px;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: hsl(244, 38%, 16%);
  margin-top: 85px;
  margin-bottom: 85px;
  border-radius: 8px;
}
/* background */
.background-heading {
  width: 100%;
  height: 240px;
  background-size: 100% 240px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: url(/images/image-header-mobile.jpg);
  background-blend-mode: soft-light;
  background-color: hsl(277, 64%, 61%);
}
/* content */
.content {
  padding: 0 40px 30px;
}
/* main heading */
.main-heading {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 25px;
  margin: 40px 0 10px;
}
/* main paragraph */
.main-paragraph {
  font-weight: 400px;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 50px;
  line-height: 25px;
}
/* stat */
.stat1 {
  margin-bottom: 30px;
}
.stat-heading {
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.stat-paragraph {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}
.background1-heading {
  display: none;
}
/* desktop 1440px */
@media (min-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .card {
    max-width: 1110px;
    margin: 170px 0;
    display: flex;
    align-items: center;
  }
  /* content */
  .content {
    padding-left: 90px;
  }
  /* stat */
  .stat {
    display: flex;
    justify-content: left;
  }
  .main-heading {
    text-align: left;
    padding-right: 150px;
  }
  .main-paragraph {
    text-align: left;
    margin: 25px 0 70px;
    padding-right: 70px;
  }
  .stat1 {
    margin-right: 60px;
    text-align: left;
  }

  /* background heading */
  .background-heading {
    display: none;
  }
  .background1-heading {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: url(/images/image-header-desktop.jpg);
    background-blend-mode: soft-light;
    background-color: hsl(277, 64%, 61%);
    display: flex;
  }
}
