body {
  background-color: hsl(233, 47%, 7%);
  padding: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: calc(100vh - 50px);
}
.card {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: hsl(244, 38%, 16%);
  border-radius: 8px;
}
/* background */
.cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 240px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.background-heading {
  width: 100%;
  height: 240px;
  background-size: cover;
  background-image: url(/images/image-header-mobile.jpg);
}
.alpha {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.6;
  background-color: hsl(277deg 76% 33%);
}
/* content */
.content {
  padding: 40px 35px;
}
/* main heading */
.main-heading {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  line-height: 1.5;
}
/* main paragraph */
.main-paragraph {
  font-weight: 400;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 20px 0 0;
  line-height: 1.6;
}
/* stat */
.stat1 {
  margin-top: 35px;
}
.stat-heading {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.stat-paragraph {
  margin: 15px 0 0;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}
.background1-heading {
  display: none;
}
/* desktop 1440px */
@media (min-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 175px 160px;
    margin: 0;
    min-height: calc(100vh - 350px);
  }
  .card {
    height: 445px;
    width: 1110px;
    max-width: initial;
    display: flex;
    align-items: center;
    margin: 0;
  }
  /* content */
  .content {
    padding: 73px 120px 62px 65px;
    flex: 1;
  }
  /* stat */
  .stat {
    display: flex;
    justify-content: left;
    margin: 75px 0 0;
  }
  .stat1 {
    margin: 0 65px 0 0;
    text-align: left;
  }
  .main-heading {
    text-align: left;
    font-size: 35px;
    line-height: 1.29;
    letter-spacing: 0.2;
  }
  .main-paragraph {
    text-align: left;
    line-height: 1.6;
    letter-spacing: 0.2;
    margin: 25px 0 0;
  }
  .stat-paragraph {
    margin-top: 10px;
  }

  /* background heading */
  .cover {
    order: 2;
    width: 540px;
    height: 445px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
  }
  .background-heading {
    height: 445px;
    background-image: url(/images/image-header-desktop.jpg);
  }
}
