body {
  background-color: hsl(233, 47%, 7%);
  padding: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: calc(100vh - 50px);
}
.card {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: hsl(244, 38%, 16%);
  border-radius: 8px;
}
/* background */
.cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 240px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.background-heading {
  width: 100%;
  height: 240px;
  background-size: cover;
  background-image: url(/images/image-header-mobile.jpg);
}
.alpha {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.6;
  background-color: hsl(277deg 76% 33%);
}
/* content */
.content {
  padding: 40px 35px;
}
/* main heading */
.main-heading {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  line-height: 1.5;
}
/* main paragraph */
.main-paragraph {
  font-weight: 400;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 20px 0 0;
  line-height: 1.6;
}
/* stat */
.stat1 {
  margin-top: 35px;
}
.stat-heading {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.stat-paragraph {
  margin: 15px 0 0;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}
.background1-heading {
  display: none;
}
/* desktop 1440px */
@media (min-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .card {
    max-width: 1110px;
    margin: 170px 0;
    display: flex;
    align-items: center;
  }
  /* content */
  .content {
    padding-left: 90px;
  }
  /* stat */
  .stat {
    display: flex;
    justify-content: left;
  }
  .main-heading {
    text-align: left;
    padding-right: 150px;
  }
  .main-paragraph {
    text-align: left;
    margin: 25px 0 70px;
    padding-right: 70px;
  }
  .stat1 {
    margin-right: 60px;
    text-align: left;
  }

  /* background heading */
  .background-heading {
    display: none;
  }
  .background-heading {
    order: 2;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: url(/images/image-header-desktop.jpg);
    background-blend-mode: soft-light;
    background-color: hsl(277, 64%, 61%);
    display: flex;
  }
}
